<section class="about">
    <div class="title">
        <p>ABOUT<br><span>COMPANY</span></p>
    </div>

    <div class="container">
        <div class="right">
           <h2>About <span>US</span> </h2>
            <p>It is a long established fact that a reader will be distracted by the readable content of
                a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
                normal distribution of letters.</p><p>As opposed to using 'Content here, content here', making it look
                like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as
                their default model text, and a search for 'lorem ipsum' will uncover many web sites still in
                their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on
                It is a long established fact that a reader will be distracted by the readable content of
                a page when looking at its layout.</p> <p>The point of using Lorem Ipsum is that it has a more-or-less
                normal distribution of letters, as opposed to using 'Content here, content here', making it look
                like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as
                their default model text, and a search for 'lorem ipsum' will uncover many web sites still in
                their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on p</p>
            <a class="cta" href=""><button>Get In Touch</button></a> 
        </div>
        
        <!-- <div class="left">
           <img src="./assets/imgs/wheatear5.jpg" alt="">
        </div> -->
    
</div>

</section>
