<section class="contact">
    <div class="title">
        <p>SHIVGIRI<br><span>CONTACT US</span></p>
    </div>
    <div class="contact_container">
        <div class="ctcDetail">
            
            <div class="ctcDtl">
                <div class="item">
                    <i class="fa fa-home "></i>
                    <h4>Address</h4>
                    <p>65  Amar Stambh Zone-I MP Nagar, Bhopal,Mumbai,462016,India</p>
                </div>
                <div class="item">
                    <i class="fa fa-volume-control-phone "></i>
                    <h4>Phone</h4>
                    <h5>+91 8108937058</h5>
                </div>
                <div class="item">
                    <i class="fa fa-envelope"></i>
                    <h4>Email</h4>
                    <h5>contactus@shivgiri.in</h5>
                </div>
            </div>
        </div>
    
    </div>
</section>
